<div class="page-container">
    <div class="subjects-list">
        <div 
        *ngFor="let subject of subjectsList$ | async"
        (click)="selectSubject(subject.id)" 
        [class.selected]="selectedSubjectId === subject.id"
        class="card"
        >     
            <div class="subject-name">Subject: {{subject.courseName}}</div>
            <div class="special-number" *ngIf="role === 'Teacher'; else pupil">
                <span>Classname: {{subject.specialParam}}</span>
            </div>
            <ng-template class="special-number" #pupil>
                <span>Teacher: {{subject.specialParam}}</span>
            </ng-template>
        </div>
    </div>
    <div class="subject-info">
        <ng-container *ngTemplateOutlet="userInfoTemplate"></ng-container>
    </div>

    <ng-template #userInfoTemplate>
        <div class="info-container">
            <div *ngIf="role === 'Teacher'" class="add-lesson">
                <div class="add-lesson__button" (click)="addLesson()">
                    <mat-icon>add_circle_outline</mat-icon>
                </div>
            </div>
            <div 
                class="lesson"
                *ngFor="let lesson of lessonsList$ | async"
            >
                <div class="lesson__text">
                    <span class="fw-medium">Lesson topic:</span>
                    <span>{{lesson.topicName}}</span>
                    <span class="fw-medium mt-1">Lesson description:</span>
                    <span>{{lesson.topicDescription}}</span>
                    <div *ngIf="role !== 'Teacher' && lesson.teacherFile" class="mb-1" class="lesson-files">
                        <span>Your homework to do:</span>
                        <a (click)="downloadFile(lesson.teacherFile, lesson.teacherFileType, lesson.topicName)">
                            Homework {{lesson.topicName}}
                        </a>
                    </div>
                </div>
                <div class="lesson__file-uploader">
                    <div *ngIf="role === 'Teacher'; else pupil" class="mb-1">
                        <span>Please, choose file for current lesson:</span>
                    </div>
                    <ng-template #pupil class="mb-1">
                        <span>Please, add your homework:</span>
                    </ng-template>
                    <div class="file-input" *ngIf="role !== 'Parent'">
                        <input type="file" (change)="onFileSelected($event)">
                        <button mat-raised-button color="primary" (click)="onFileUpload(lesson.topicId)">Upload</button>
                    </div>
                    <div class="added-files">
                        <div *ngIf="role === 'Teacher' && lesson.teacherFile; else pupilFile" class="mb-1" class="lesson-files">
                            <span>Uploaded homework file:</span>
                            <a (click)="downloadFile(lesson.teacherFile, lesson.teacherFileType, lesson.topicName)">
                                Homework {{lesson.topicName}}
                            </a>
                        </div>
                        <ng-template #pupilFile>
                            <div *ngIf="lesson.pupilFile && lesson.pupilFileType" class="mb-1" class="lesson-files">
                                <span>Uploaded homework:</span>
                                <a (click)="downloadFile(lesson.pupilFile, lesson.pupilFileType, lesson.topicName)">
                                    My homework {{lesson.topicName}}
                                </a>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <div *ngIf="role === 'Teacher'" class="lesson__manage">
                    <button mat-raised-button class="mb-2" color="warn" (click)="deleteTopic(lesson.topicId)">Delete</button>
                    <button mat-raised-button color="primary" (click)="openHomeworks(lesson.topicId)">Homeworks</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>