<div class="page-container">
    <div class="subjects-list">
        <div 
        *ngFor="let subject of subjectsList$ | async"
        (click)="selectSubject(subject.id)" 
        [class.selected]="selectedSubjectId === subject.id"
        class="card"
        >     
            <div class="subject-name">Subject: {{subject.courseName}}</div>
            <div class="special-number" *ngIf="role === 'Teacher'; else pupil">
                <span>Classname: {{subject.specialParam}}</span>
            </div>
            <ng-template class="special-number" #pupil>
                <span>Teacher: {{subject.specialParam}}</span>
            </ng-template>
        </div>
    </div>
    <div class="subject-info">
        <ng-container *ngTemplateOutlet="userInfoTemplate"></ng-container>
    </div>

    <ng-template #userInfoTemplate>
        <div class="info-container">
            <div *ngIf="role === 'Teacher'" class="add-lesson">
                <div class="add-lesson__button" (click)="addLesson()">
                    <mat-icon>add_circle_outline</mat-icon>
                </div>
            </div>
            <div 
                class="lesson"
                *ngFor="let lesson of lessonsList$ | async"
            >
                <div class="lesson__text">
                    <span class="fw-medium">Lesson topic:</span>
                    <span>{{lesson.topicName}}</span>
                    <span class="fw-medium mt-1">Lesson description:</span>
                    <span>{{lesson.topicDescription}}</span>
                    <div class="lesson-files">

                    </div>
                </div>
                <div class="lesson__file-uploader">
                    <div *ngIf="role === 'Teacher'; else pupil" class="mb-1">
                        <span>Please, choose file for current lesson:</span>
                    </div>
                    <ng-template #pupil class="mb-1">
                        <span>Please, add your honework:</span>
                    </ng-template>
                    <div class="file-input">
                        <input type="file" (change)="onFileSelected($event)">
                        <button mat-raised-button color="primary" (click)="onFileUpload()">Upload</button>
                    </div>
                    <div class="added-files">

                    </div>
                </div>
                <div *ngIf="role === 'Teacher'" class="lesson__manage">
                    <button mat-raised-button class="mb-2" color="warn" (click)="deleteTopic(lesson.id)">Delete</button>
                    <button mat-raised-button color="primary" (click)="openHomeworks()">Homeworks</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>