<div class="form-container">
    <form [formGroup] = "renewForm" (ngSubmit)="onSubmit(renewForm.value)" validateOnSubmit novalidate>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" name="Email" type="Email" matInput>
            <mat-error *ngIf="checkRenewError('email', 'pattern')">Incorrect email form</mat-error>
        </mat-form-field>
        <p class="d-flex justify-content-center">OR</p>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input formControlName="password" name="password" type="password" matInput>
        </mat-form-field>
        <div class="submit-button">
            <button mat-raised-button color="primary" type="submit" [disabled]="!renewForm.value">Send code</button>
        </div>
    </form>
</div>