<div class="form-container" *ngIf="!codeSubmited; else updatePassword">
    <form [formGroup] = "renewForm" (ngSubmit)="onSubmit(renewForm.value)" validateOnSubmit novalidate>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input formControlName="email" name="Email" type="Email" matInput>
            <mat-error *ngIf="checkRenewError('email', 'pattern')">Incorrect email form</mat-error>
        </mat-form-field>
        <div class="submit-button">
            <button mat-raised-button color="primary" type="submit" [disabled]="!renewForm.value">Send code</button>
        </div>
        <div class="added-template">
            <button mat-button color="primary" (click)="codeSubmited = true">I have code already!</button>
        </div>
    </form>
</div>
<ng-template #updatePassword>
    <div class="form-container">
        <form [formGroup] = "updatedPassword" (ngSubmit)="sendNewPassword(updatedPassword.value)" validateOnSubmit novalidate>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" name="Email" type="Email" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Access Code</mat-label>
                <input formControlName="accessCode" name="accessCode" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>New password</mat-label>
                <input formControlName="password" name="password" type="password" matInput>
            </mat-form-field>
            <div class="submit-button">
                <button mat-raised-button color="primary" type="submit" [disabled]="!updatedPassword.value">Update password</button>
            </div>
        </form>
    </div>
</ng-template>